html {
    font-family: 'Roboto Slab', serif;
}

.intro-container{
    margin-top: 25px;
    padding-top: 10px;
    /* background-color: blue; */
    font-family: 'Roboto Slab', serif;
}

.intro-title{
    padding-top: 5px;
    padding-bottom: 5px;
}

.intro-p{
    font-size: 20px;
}

.intro-img{
    max-width: 90%;
    max-height: 90%;
    padding: 10px;
}

.intro-img-container{
    display: flex;
    justify-content: center;
}

.card{
    /* width: 18rem; */
    /* max-width: 50%; */
}

.programs-div{
    /* background-color: red; */
    padding-top: 15px; 
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}

.programs-header{
    text-align: center;
}

.hoops-school-card{
    margin-right: 10px;
}

.lil-ballers-card{
    margin-left: 5px;
    margin-right: 10px;
}

.lil-ballers-league-card{
    /* margin-left: 15px; */
}

.logo{
    max-height: 101px;
    width: 125px;
}

.nav-link{
    margin: 50px 50px 0px 50px;
}


